header {
    text-align: center;
} 
footer {
    text-align: center;
} 
h1 {
    font-family: "Arial"
}


a:link {
    text-decoration: underline;
    font-weight: none;
    color: blue;
}
a:visited {
    color: red;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
    font-family: cursive;
}



           